.ghBg-1C-Enterprise { background: "#814CCC"; }
.ghBg-4D { background: "#004289"; }
.ghBg-ABAP { background: "#E8274B"; }
.ghBg-ABAP-CDS { background: "#555e25"; }
.ghBg-AGS-Script { background: "#B9D9FF"; }
.ghBg-AIDL { background: "#34EB6B"; }
.ghBg-AL { background: "#3AA2B5"; }
.ghBg-AMPL { background: "#E6EFBB"; }
.ghBg-ANTLR { background: "#9DC3FF"; }
.ghBg-APL { background: "#5A8164"; }
.ghBg-ASL { background: "#000000"; }
.ghBg-ASPNET { background: "#9400ff"; }
.ghBg-ATS { background: "#1ac620"; }
.ghBg-ActionScript { background: "#882B0F"; }
.ghBg-Ada { background: "#02f88c"; }
.ghBg-Agda { background: "#315665"; }
.ghBg-Alloy { background: "#64C800"; }
.ghBg-Alpine-Abuild { background: "#0D597F"; }
.ghBg-AngelScript { background: "#C7D7DC"; }
.ghBg-Apex { background: "#1797c0"; }
.ghBg-Apollo-Guidance-Computer { background: "#0B3D91"; }
.ghBg-AppleScript { background: "#101F1F"; }
.ghBg-Arc { background: "#aa2afe"; }
.ghBg-AspectJ { background: "#a957b0"; }
.ghBg-Assembly { background: "#6E4C13"; }
.ghBg-Asymptote { background: "#ff0000"; }
.ghBg-Augeas { background: "#9CC134"; }
.ghBg-AutoHotkey { background: "#6594b9"; }
.ghBg-AutoIt { background: "#1C3552"; }
.ghBg-Awk { background: "#c30e9b"; }
.ghBg-BASIC { background: "#ff0000"; }
.ghBg-Ballerina { background: "#FF5000"; }
.ghBg-Batchfile { background: "#C1F12E"; }
.ghBg-Beef { background: "#a52f4e"; }
.ghBg-Befunge { background: "#000000"; }
.ghBg-Berry { background: "#15A13C"; }
.ghBg-Bicep { background: "#519aba"; }
.ghBg-Bison { background: "#6A463F"; }
.ghBg-BitBake { background: "#00bce4"; }
.ghBg-BlitzBasic { background: "#00FFAE"; }
.ghBg-BlitzMax { background: "#cd6400"; }
.ghBg-Bluespec { background: "#12223c"; }
.ghBg-Boo { background: "#d4bec1"; }
.ghBg-Boogie { background: "#c80fa0"; }
.ghBg-Brainfuck { background: "#2F2530"; }
.ghBg-BrighterScript { background: "#66AABB"; }
.ghBg-Brightscript { background: "#662D91"; }
.ghBg-C { background: "#555555"; }
.ghBg-C { background: "#178600"; }
.ghBg-C { background: "#f34b7d"; }
.ghBg-C2hs-Haskell { background: "#000000"; }
.ghBg-CAP-CDS { background: "#0092d1"; }
.ghBg-CLIPS { background: "#00A300"; }
.ghBg-CMake { background: "#DA3434"; }
.ghBg-COBOL { background: "#000000"; }
.ghBg-CUE { background: "#5886E1"; }
.ghBg-CWeb { background: "#00007a"; }
.ghBg-Cadence { background: "#00ef8b"; }
.ghBg-Cairo { background: "#ff4a48"; }
.ghBg-CameLIGO { background: "#3be133"; }
.ghBg-Capn-Proto { background: "#c42727"; }
.ghBg-CartoCSS { background: "#000000"; }
.ghBg-Ceylon { background: "#dfa535"; }
.ghBg-Chapel { background: "#8dc63f"; }
.ghBg-Charity { background: "#000000"; }
.ghBg-ChucK { background: "#3f8000"; }
.ghBg-Cirru { background: "#ccccff"; }
.ghBg-Clarion { background: "#db901e"; }
.ghBg-Clarity { background: "#5546ff"; }
.ghBg-Classic-ASP { background: "#6a40fd"; }
.ghBg-Clean { background: "#3F85AF"; }
.ghBg-Click { background: "#E4E6F3"; }
.ghBg-Clojure { background: "#db5855"; }
.ghBg-CodeQL { background: "#140f46"; }
.ghBg-CoffeeScript { background: "#244776"; }
.ghBg-ColdFusion { background: "#ed2cd6"; }
.ghBg-ColdFusion-CFC { background: "#ed2cd6"; }
.ghBg-Common-Lisp { background: "#3fb68b"; }
.ghBg-Common-Workflow-Language { background: "#B5314C"; }
.ghBg-Component-Pascal { background: "#B0CE4E"; }
.ghBg-Cool { background: "#000000"; }
.ghBg-Coq { background: "#d0b68c"; }
.ghBg-Crystal { background: "#000100"; }
.ghBg-Csound { background: "#1a1a1a"; }
.ghBg-Csound-Document { background: "#1a1a1a"; }
.ghBg-Csound-Score { background: "#1a1a1a"; }
.ghBg-Cuda { background: "#3A4E3A"; }
.ghBg-Curry { background: "#531242"; }
.ghBg-Cycript { background: "#000000"; }
.ghBg-Cython { background: "#fedf5b"; }
.ghBg-D { background: "#ba595e"; }
.ghBg-DIGITAL-Command-Language { background: "#000000"; }
.ghBg-DM { background: "#447265"; }
.ghBg-DTrace { background: "#000000"; }
.ghBg-Dafny { background: "#FFEC25"; }
.ghBg-Dart { background: "#00B4AB"; }
.ghBg-DataWeave { background: "#003a52"; }
.ghBg-DenizenScript { background: "#FBEE96"; }
.ghBg-Dhall { background: "#dfafff"; }
.ghBg-Dockerfile { background: "#384d54"; }
.ghBg-Dogescript { background: "#cca760"; }
.ghBg-Dylan { background: "#6c616e"; }
.ghBg-E { background: "#ccce35"; }
.ghBg-ECL { background: "#8a1267"; }
.ghBg-ECLiPSe { background: "#001d9d"; }
.ghBg-EQ { background: "#a78649"; }
.ghBg-Earthly { background: "#2af0ff"; }
.ghBg-Eiffel { background: "#4d6977"; }
.ghBg-Elixir { background: "#6e4a7e"; }
.ghBg-Elm { background: "#60B5CC"; }
.ghBg-Emacs-Lisp { background: "#c065db"; }
.ghBg-EmberScript { background: "#FFF4F3"; }
.ghBg-Erlang { background: "#B83998"; }
.ghBg-Euphoria { background: "#FF790B"; }
.ghBg-F { background: "#b845fc"; }
.ghBg-F { background: "#572e30"; }
.ghBg-FLUX { background: "#88ccff"; }
.ghBg-Factor { background: "#636746"; }
.ghBg-Fancy { background: "#7b9db4"; }
.ghBg-Fantom { background: "#14253c"; }
.ghBg-Faust { background: "#c37240"; }
.ghBg-Fennel { background: "#fff3d7"; }
.ghBg-Filebench-WML { background: "#F6B900"; }
.ghBg-Filterscript { background: "#000000"; }
.ghBg-Fluent { background: "#ffcc33"; }
.ghBg-Forth { background: "#341708"; }
.ghBg-Fortran { background: "#4d41b1"; }
.ghBg-Fortran-Free-Form { background: "#4d41b1"; }
.ghBg-FreeBasic { background: "#867db1"; }
.ghBg-FreeMarker { background: "#0050b2"; }
.ghBg-Frege { background: "#00cafe"; }
.ghBg-Futhark { background: "#5f021f"; }
.ghBg-G-code { background: "#D08CF2"; }
.ghBg-GAML { background: "#FFC766"; }
.ghBg-GAMS { background: "#f49a22"; }
.ghBg-GAP { background: "#0000cc"; }
.ghBg-GCC-Machine-Description { background: "#FFCFAB"; }
.ghBg-GDB { background: "#000000"; }
.ghBg-GDScript { background: "#355570"; }
.ghBg-GLSL { background: "#5686a5"; }
.ghBg-GSC { background: "#FF6800"; }
.ghBg-Game-Maker-Language { background: "#71b417"; }
.ghBg-Genero { background: "#63408e"; }
.ghBg-Genie { background: "#fb855d"; }
.ghBg-Genshi { background: "#951531"; }
.ghBg-Gentoo-Ebuild { background: "#9400ff"; }
.ghBg-Gentoo-Eclass { background: "#9400ff"; }
.ghBg-Gherkin { background: "#5B2063"; }
.ghBg-Gleam { background: "#ffaff3"; }
.ghBg-Glyph { background: "#c1ac7f"; }
.ghBg-Gnuplot { background: "#f0a9f0"; }
.ghBg-Go { background: "#00ADD8"; }
.ghBg-Golo { background: "#88562A"; }
.ghBg-Gosu { background: "#82937f"; }
.ghBg-Grace { background: "#615f8b"; }
.ghBg-Grammatical-Framework { background: "#ff0000"; }
.ghBg-Groovy { background: "#4298b8"; }
.ghBg-Groovy-Server-Pages { background: "#4298b8"; }
.ghBg-HCL { background: "#000000"; }
.ghBg-HLSL { background: "#aace60"; }
.ghBg-Hack { background: "#878787"; }
.ghBg-Harbour { background: "#0e60e3"; }
.ghBg-Haskell { background: "#5e5086"; }
.ghBg-Haxe { background: "#df7900"; }
.ghBg-HiveQL { background: "#dce200"; }
.ghBg-HolyC { background: "#ffefaf"; }
.ghBg-Hy { background: "#7790B2"; }
.ghBg-HyPhy { background: "#000000"; }
.ghBg-IDL { background: "#a3522f"; }
.ghBg-IGOR-Pro { background: "#0000cc"; }
.ghBg-Idris { background: "#b30000"; }
.ghBg-ImageJ-Macro { background: "#99AAFF"; }
.ghBg-Inform-7 { background: "#000000"; }
.ghBg-Inno-Setup { background: "#264b99"; }
.ghBg-Io { background: "#a9188d"; }
.ghBg-Ioke { background: "#078193"; }
.ghBg-Isabelle { background: "#FEFE00"; }
.ghBg-Isabelle-ROOT { background: "#FEFE00"; }
.ghBg-J { background: "#9EEDFF"; }
.ghBg-JFlex { background: "#DBCA00"; }
.ghBg-JSONiq { background: "#40d47e"; }
.ghBg-Janet { background: "#0886a5"; }
.ghBg-Jasmin { background: "#d03600"; }
.ghBg-Java { background: "#b07219"; }
.ghBg-Java-Server-Pages { background: "#2A6277"; }
.ghBg-JavaScript { background: "#f1e05a"; }
.ghBg-JavaScriptERB { background: "#f1e05a"; }
.ghBg-JetBrains-MPS { background: "#21D789"; }
.ghBg-Jison { background: "#56b3cb"; }
.ghBg-Jison-Lex { background: "#56b3cb"; }
.ghBg-Jolie { background: "#843179"; }
.ghBg-Jsonnet { background: "#0064bd"; }
.ghBg-Julia { background: "#a270ba"; }
.ghBg-KRL { background: "#28430A"; }
.ghBg-Kaitai-Struct { background: "#773b37"; }
.ghBg-KakouneScript { background: "#6f8042"; }
.ghBg-Kotlin { background: "#A97BFF"; }
.ghBg-LFE { background: "#4C3023"; }
.ghBg-LLVM { background: "#185619"; }
.ghBg-LOLCODE { background: "#cc9900"; }
.ghBg-LSL { background: "#3d9970"; }
.ghBg-LabVIEW { background: "#fede06"; }
.ghBg-Lasso { background: "#999999"; }
.ghBg-Lean { background: "#000000"; }
.ghBg-Lex { background: "#DBCA00"; }
.ghBg-LigoLANG { background: "#0e74ff"; }
.ghBg-LilyPond { background: "#9ccc7c"; }
.ghBg-Limbo { background: "#000000"; }
.ghBg-Literate-Agda { background: "#315665"; }
.ghBg-Literate-CoffeeScript { background: "#244776"; }
.ghBg-Literate-Haskell { background: "#5e5086"; }
.ghBg-LiveScript { background: "#499886"; }
.ghBg-Logos { background: "#000000"; }
.ghBg-Logtalk { background: "#295b9a"; }
.ghBg-LookML { background: "#652B81"; }
.ghBg-LoomScript { background: "#000000"; }
.ghBg-Lua { background: "#000080"; }
.ghBg-M { background: "#000000"; }
.ghBg-M4 { background: "#000000"; }
.ghBg-M4Sugar { background: "#000000"; }
.ghBg-MATLAB { background: "#e16737"; }
.ghBg-MAXScript { background: "#00a6a6"; }
.ghBg-MLIR { background: "#5EC8DB"; }
.ghBg-MQL4 { background: "#62A8D6"; }
.ghBg-MQL5 { background: "#4A76B8"; }
.ghBg-MUF { background: "#000000"; }
.ghBg-Macaulay2 { background: "#d8ffff"; }
.ghBg-Makefile { background: "#427819"; }
.ghBg-Mako { background: "#7e858d"; }
.ghBg-Mathematica { background: "#dd1100"; }
.ghBg-Max { background: "#c4a79c"; }
.ghBg-Mercury { background: "#ff2b2b"; }
.ghBg-Meson { background: "#007800"; }
.ghBg-Metal { background: "#8f14e9"; }
.ghBg-MiniD { background: "#000000"; }
.ghBg-Mint { background: "#02b046"; }
.ghBg-Mirah { background: "#c7a938"; }
.ghBg-Modelica { background: "#de1d31"; }
.ghBg-Modula-2 { background: "#10253f"; }
.ghBg-Modula-3 { background: "#223388"; }
.ghBg-Module-Management-System { background: "#000000"; }
.ghBg-Monkey { background: "#000000"; }
.ghBg-Monkey-C { background: "#8D6747"; }
.ghBg-Moocode { background: "#000000"; }
.ghBg-MoonScript { background: "#ff4585"; }
.ghBg-Motoko { background: "#fbb03b"; }
.ghBg-Motorola-68K-Assembly { background: "#005daa"; }
.ghBg-Move { background: "#4a137a"; }
.ghBg-Myghty { background: "#000000"; }
.ghBg-NASL { background: "#000000"; }
.ghBg-NCL { background: "#28431f"; }
.ghBg-NSIS { background: "#000000"; }
.ghBg-NWScript { background: "#111522"; }
.ghBg-Nasal { background: "#1d2c4e"; }
.ghBg-Nearley { background: "#990000"; }
.ghBg-Nemerle { background: "#3d3c6e"; }
.ghBg-NetLinx { background: "#0aa0ff"; }
.ghBg-NetLinxERB { background: "#747faa"; }
.ghBg-NetLogo { background: "#ff6375"; }
.ghBg-NewLisp { background: "#87AED7"; }
.ghBg-Nextflow { background: "#3ac486"; }
.ghBg-Nim { background: "#ffc200"; }
.ghBg-Nit { background: "#009917"; }
.ghBg-Nix { background: "#7e7eff"; }
.ghBg-Nu { background: "#c9df40"; }
.ghBg-NumPy { background: "#9C8AF9"; }
.ghBg-OCaml { background: "#3be133"; }
.ghBg-ObjectScript { background: "#424893"; }
.ghBg-Objective-C { background: "#438eff"; }
.ghBg-Objective-C { background: "#6866fb"; }
.ghBg-Objective-J { background: "#ff0c5a"; }
.ghBg-Odin { background: "#60AFFE"; }
.ghBg-Omgrofl { background: "#cabbff"; }
.ghBg-Opa { background: "#000000"; }
.ghBg-Opal { background: "#f7ede0"; }
.ghBg-Open-Policy-Agent { background: "#7d9199"; }
.ghBg-OpenCL { background: "#ed2e2d"; }
.ghBg-OpenEdge-ABL { background: "#5ce600"; }
.ghBg-OpenQASM { background: "#AA70FF"; }
.ghBg-OpenRC-runscript { background: "#000000"; }
.ghBg-OpenSCAD { background: "#e5cd45"; }
.ghBg-Ox { background: "#000000"; }
.ghBg-Oxygene { background: "#cdd0e3"; }
.ghBg-Oz { background: "#fab738"; }
.ghBg-P4 { background: "#7055b5"; }
.ghBg-PEGjs { background: "#234d6b"; }
.ghBg-PHP { background: "#4F5D95"; }
.ghBg-PLSQL { background: "#dad8d8"; }
.ghBg-PLpgSQL { background: "#336790"; }
.ghBg-POV-Ray-SDL { background: "#6bac65"; }
.ghBg-Pan { background: "#cc0000"; }
.ghBg-Papyrus { background: "#6600cc"; }
.ghBg-Parrot { background: "#f3ca0a"; }
.ghBg-Parrot-Assembly { background: "#000000"; }
.ghBg-Parrot-Internal-Representation { background: "#000000"; }
.ghBg-Pascal { background: "#E3F171"; }
.ghBg-Pawn { background: "#dbb284"; }
.ghBg-Pep8 { background: "#C76F5B"; }
.ghBg-Perl { background: "#0298c3"; }
.ghBg-PicoLisp { background: "#6067af"; }
.ghBg-PigLatin { background: "#fcd7de"; }
.ghBg-Pike { background: "#005390"; }
.ghBg-PogoScript { background: "#d80074"; }
.ghBg-Pony { background: "#000000"; }
.ghBg-Portugol { background: "#f8bd00"; }
.ghBg-PowerBuilder { background: "#8f0f8d"; }
.ghBg-PowerShell { background: "#012456"; }
.ghBg-Processing { background: "#0096D8"; }
.ghBg-Procfile { background: "#3B2F63"; }
.ghBg-Prolog { background: "#74283c"; }
.ghBg-Promela { background: "#de0000"; }
.ghBg-Propeller-Spin { background: "#7fa2a7"; }
.ghBg-Puppet { background: "#302B6D"; }
.ghBg-PureBasic { background: "#5a6986"; }
.ghBg-PureScript { background: "#1D222D"; }
.ghBg-Python { background: "#3572A5"; }
.ghBg-Python-console { background: "#3572A5"; }
.ghBg-Q { background: "#fed659"; }
.ghBg-QML { background: "#44a51c"; }
.ghBg-QMake { background: "#000000"; }
.ghBg-Qt-Script { background: "#00b841"; }
.ghBg-Quake { background: "#882233"; }
.ghBg-R { background: "#198CE7"; }
.ghBg-REALbasic { background: "#000000"; }
.ghBg-REXX { background: "#d90e09"; }
.ghBg-RPC { background: "#000000"; }
.ghBg-RPGLE { background: "#2BDE21"; }
.ghBg-Racket { background: "#3c5caa"; }
.ghBg-Ragel { background: "#9d5200"; }
.ghBg-Raku { background: "#0000fb"; }
.ghBg-Rascal { background: "#fffaa0"; }
.ghBg-ReScript { background: "#ed5051"; }
.ghBg-Reason { background: "#ff5847"; }
.ghBg-ReasonLIGO { background: "#ff5847"; }
.ghBg-Rebol { background: "#358a5b"; }
.ghBg-Red { background: "#f50000"; }
.ghBg-Redcode { background: "#000000"; }
.ghBg-RenPy { background: "#ff7f7f"; }
.ghBg-RenderScript { background: "#000000"; }
.ghBg-Ring { background: "#2D54CB"; }
.ghBg-RobotFramework { background: "#00c0b5"; }
.ghBg-Rouge { background: "#cc0088"; }
.ghBg-RouterOS-Script { background: "#DE3941"; }
.ghBg-Ruby { background: "#701516"; }
.ghBg-Rust { background: "#dea584"; }
.ghBg-SAS { background: "#B34936"; }
.ghBg-SMT { background: "#000000"; }
.ghBg-SQF { background: "#3F3F3F"; }
.ghBg-SQLPL { background: "#e38c00"; }
.ghBg-SWIG { background: "#000000"; }
.ghBg-Sage { background: "#000000"; }
.ghBg-SaltStack { background: "#646464"; }
.ghBg-Scala { background: "#c22d40"; }
.ghBg-Scheme { background: "#1e4aec"; }
.ghBg-Scilab { background: "#ca0f21"; }
.ghBg-Self { background: "#0579aa"; }
.ghBg-ShaderLab { background: "#222c37"; }
.ghBg-Shell { background: "#89e051"; }
.ghBg-ShellSession { background: "#000000"; }
.ghBg-Shen { background: "#120F14"; }
.ghBg-Sieve { background: "#000000"; }
.ghBg-Singularity { background: "#64E6AD"; }
.ghBg-Slash { background: "#007eff"; }
.ghBg-Slice { background: "#003fa2"; }
.ghBg-SmPL { background: "#c94949"; }
.ghBg-Smali { background: "#000000"; }
.ghBg-Smalltalk { background: "#596706"; }
.ghBg-Smarty { background: "#f0c040"; }
.ghBg-Solidity { background: "#AA6746"; }
.ghBg-SourcePawn { background: "#f69e1d"; }
.ghBg-Squirrel { background: "#800000"; }
.ghBg-Stan { background: "#b2011d"; }
.ghBg-Standard-ML { background: "#dc566d"; }
.ghBg-Starlark { background: "#76d275"; }
.ghBg-Stata { background: "#1a5f91"; }
.ghBg-SuperCollider { background: "#46390b"; }
.ghBg-Swift { background: "#F05138"; }
.ghBg-SystemVerilog { background: "#DAE1C2"; }
.ghBg-TI-Program { background: "#A0AA87"; }
.ghBg-TLA { background: "#4b0079"; }
.ghBg-TSQL { background: "#e38c00"; }
.ghBg-TSX { background: "#3178c6"; }
.ghBg-TXL { background: "#0178b8"; }
.ghBg-Talon { background: "#333333"; }
.ghBg-Tcl { background: "#e4cc98"; }
.ghBg-Tcsh { background: "#000000"; }
.ghBg-Terra { background: "#00004c"; }
.ghBg-Thrift { background: "#D12127"; }
.ghBg-Turing { background: "#cf142b"; }
.ghBg-TypeScript { background: "#3178c6"; }
.ghBg-Unified-Parallel-C { background: "#4e3617"; }
.ghBg-Unix-Assembly { background: "#000000"; }
.ghBg-Uno { background: "#9933cc"; }
.ghBg-UnrealScript { background: "#a54c4d"; }
.ghBg-UrWeb { background: "#ccccee"; }
.ghBg-V { background: "#4f87c4"; }
.ghBg-VBA { background: "#867db1"; }
.ghBg-VBScript { background: "#15dcdc"; }
.ghBg-VCL { background: "#148AA8"; }
.ghBg-VHDL { background: "#adb2cb"; }
.ghBg-Vala { background: "#a56de2"; }
.ghBg-Verilog { background: "#b2b7f8"; }
.ghBg-Vim-Script { background: "#199f4b"; }
.ghBg-Visual-Basic-NET { background: "#945db7"; }
.ghBg-Volt { background: "#1F1F1F"; }
.ghBg-Vyper { background: "#2980b9"; }
.ghBg-WebAssembly { background: "#04133b"; }
.ghBg-WebIDL { background: "#000000"; }
.ghBg-Whiley { background: "#d5c397"; }
.ghBg-Witcher-Script { background: "#ff0000"; }
.ghBg-Wollok { background: "#a23738"; }
.ghBg-Wren { background: "#383838"; }
.ghBg-X10 { background: "#4B6BEF"; }
.ghBg-XC { background: "#99DA07"; }
.ghBg-XProc { background: "#000000"; }
.ghBg-XQuery { background: "#5232e7"; }
.ghBg-XS { background: "#000000"; }
.ghBg-XSLT { background: "#EB8CEB"; }
.ghBg-Xojo { background: "#81bd41"; }
.ghBg-Xonsh { background: "#285EEF"; }
.ghBg-Xtend { background: "#24255d"; }
.ghBg-YARA { background: "#220000"; }
.ghBg-Yacc { background: "#4B6C4B"; }
.ghBg-Yul { background: "#794932"; }
.ghBg-ZAP { background: "#0d665e"; }
.ghBg-ZIL { background: "#dc75e5"; }
.ghBg-Zeek { background: "#000000"; }
.ghBg-ZenScript { background: "#00BCD1"; }
.ghBg-Zephir { background: "#118f9e"; }
.ghBg-Zig { background: "#ec915c"; }
.ghBg-Zimpl { background: "#d67711"; }
.ghBg-eC { background: "#913960"; }
.ghBg-fish { background: "#4aae47"; }
.ghBg-hoon { background: "#00b171"; }
.ghBg-jq { background: "#c7254e"; }
.ghBg-mIRC-Script { background: "#3d57c3"; }
.ghBg-mcfunction { background: "#E22837"; }
.ghBg-mupad { background: "#244963"; }
.ghBg-nesC { background: "#94B0C7"; }
.ghBg-ooc { background: "#b0b77e"; }
.ghBg-q { background: "#0040cd"; }
.ghBg-sed { background: "#64b970"; }
.ghBg-wdl { background: "#42f1f4"; }
.ghBg-wisp { background: "#7582D1"; }
.ghBg-xBase { background: "#403a40"; }
