.ghColor-1C-Enterprise { color: "#814CCC"; }
.ghColor-4D { color: "#004289"; }
.ghColor-ABAP { color: "#E8274B"; }
.ghColor-ABAP-CDS { color: "#555e25"; }
.ghColor-AGS-Script { color: "#B9D9FF"; }
.ghColor-AIDL { color: "#34EB6B"; }
.ghColor-AL { color: "#3AA2B5"; }
.ghColor-AMPL { color: "#E6EFBB"; }
.ghColor-ANTLR { color: "#9DC3FF"; }
.ghColor-APL { color: "#5A8164"; }
.ghColor-ASL { color: "#000000"; }
.ghColor-ASPNET { color: "#9400ff"; }
.ghColor-ATS { color: "#1ac620"; }
.ghColor-ActionScript { color: "#882B0F"; }
.ghColor-Ada { color: "#02f88c"; }
.ghColor-Agda { color: "#315665"; }
.ghColor-Alloy { color: "#64C800"; }
.ghColor-Alpine-Abuild { color: "#0D597F"; }
.ghColor-AngelScript { color: "#C7D7DC"; }
.ghColor-Apex { color: "#1797c0"; }
.ghColor-Apollo-Guidance-Computer { color: "#0B3D91"; }
.ghColor-AppleScript { color: "#101F1F"; }
.ghColor-Arc { color: "#aa2afe"; }
.ghColor-AspectJ { color: "#a957b0"; }
.ghColor-Assembly { color: "#6E4C13"; }
.ghColor-Asymptote { color: "#ff0000"; }
.ghColor-Augeas { color: "#9CC134"; }
.ghColor-AutoHotkey { color: "#6594b9"; }
.ghColor-AutoIt { color: "#1C3552"; }
.ghColor-Awk { color: "#c30e9b"; }
.ghColor-BASIC { color: "#ff0000"; }
.ghColor-Ballerina { color: "#FF5000"; }
.ghColor-Batchfile { color: "#C1F12E"; }
.ghColor-Beef { color: "#a52f4e"; }
.ghColor-Befunge { color: "#000000"; }
.ghColor-Berry { color: "#15A13C"; }
.ghColor-Bicep { color: "#519aba"; }
.ghColor-Bison { color: "#6A463F"; }
.ghColor-BitBake { color: "#00bce4"; }
.ghColor-BlitzBasic { color: "#00FFAE"; }
.ghColor-BlitzMax { color: "#cd6400"; }
.ghColor-Bluespec { color: "#12223c"; }
.ghColor-Boo { color: "#d4bec1"; }
.ghColor-Boogie { color: "#c80fa0"; }
.ghColor-Brainfuck { color: "#2F2530"; }
.ghColor-BrighterScript { color: "#66AABB"; }
.ghColor-Brightscript { color: "#662D91"; }
.ghColor-C { color: "#555555"; }
.ghColor-C { color: "#178600"; }
.ghColor-C { color: "#f34b7d"; }
.ghColor-C2hs-Haskell { color: "#000000"; }
.ghColor-CAP-CDS { color: "#0092d1"; }
.ghColor-CLIPS { color: "#00A300"; }
.ghColor-CMake { color: "#DA3434"; }
.ghColor-COBOL { color: "#000000"; }
.ghColor-CUE { color: "#5886E1"; }
.ghColor-CWeb { color: "#00007a"; }
.ghColor-Cadence { color: "#00ef8b"; }
.ghColor-Cairo { color: "#ff4a48"; }
.ghColor-CameLIGO { color: "#3be133"; }
.ghColor-Capn-Proto { color: "#c42727"; }
.ghColor-CartoCSS { color: "#000000"; }
.ghColor-Ceylon { color: "#dfa535"; }
.ghColor-Chapel { color: "#8dc63f"; }
.ghColor-Charity { color: "#000000"; }
.ghColor-ChucK { color: "#3f8000"; }
.ghColor-Cirru { color: "#ccccff"; }
.ghColor-Clarion { color: "#db901e"; }
.ghColor-Clarity { color: "#5546ff"; }
.ghColor-Classic-ASP { color: "#6a40fd"; }
.ghColor-Clean { color: "#3F85AF"; }
.ghColor-Click { color: "#E4E6F3"; }
.ghColor-Clojure { color: "#db5855"; }
.ghColor-CodeQL { color: "#140f46"; }
.ghColor-CoffeeScript { color: "#244776"; }
.ghColor-ColdFusion { color: "#ed2cd6"; }
.ghColor-ColdFusion-CFC { color: "#ed2cd6"; }
.ghColor-Common-Lisp { color: "#3fb68b"; }
.ghColor-Common-Workflow-Language { color: "#B5314C"; }
.ghColor-Component-Pascal { color: "#B0CE4E"; }
.ghColor-Cool { color: "#000000"; }
.ghColor-Coq { color: "#d0b68c"; }
.ghColor-Crystal { color: "#000100"; }
.ghColor-Csound { color: "#1a1a1a"; }
.ghColor-Csound-Document { color: "#1a1a1a"; }
.ghColor-Csound-Score { color: "#1a1a1a"; }
.ghColor-Cuda { color: "#3A4E3A"; }
.ghColor-Curry { color: "#531242"; }
.ghColor-Cycript { color: "#000000"; }
.ghColor-Cython { color: "#fedf5b"; }
.ghColor-D { color: "#ba595e"; }
.ghColor-DIGITAL-Command-Language { color: "#000000"; }
.ghColor-DM { color: "#447265"; }
.ghColor-DTrace { color: "#000000"; }
.ghColor-Dafny { color: "#FFEC25"; }
.ghColor-Dart { color: "#00B4AB"; }
.ghColor-DataWeave { color: "#003a52"; }
.ghColor-DenizenScript { color: "#FBEE96"; }
.ghColor-Dhall { color: "#dfafff"; }
.ghColor-Dockerfile { color: "#384d54"; }
.ghColor-Dogescript { color: "#cca760"; }
.ghColor-Dylan { color: "#6c616e"; }
.ghColor-E { color: "#ccce35"; }
.ghColor-ECL { color: "#8a1267"; }
.ghColor-ECLiPSe { color: "#001d9d"; }
.ghColor-EQ { color: "#a78649"; }
.ghColor-Earthly { color: "#2af0ff"; }
.ghColor-Eiffel { color: "#4d6977"; }
.ghColor-Elixir { color: "#6e4a7e"; }
.ghColor-Elm { color: "#60B5CC"; }
.ghColor-Emacs-Lisp { color: "#c065db"; }
.ghColor-EmberScript { color: "#FFF4F3"; }
.ghColor-Erlang { color: "#B83998"; }
.ghColor-Euphoria { color: "#FF790B"; }
.ghColor-F { color: "#b845fc"; }
.ghColor-F { color: "#572e30"; }
.ghColor-FLUX { color: "#88ccff"; }
.ghColor-Factor { color: "#636746"; }
.ghColor-Fancy { color: "#7b9db4"; }
.ghColor-Fantom { color: "#14253c"; }
.ghColor-Faust { color: "#c37240"; }
.ghColor-Fennel { color: "#fff3d7"; }
.ghColor-Filebench-WML { color: "#F6B900"; }
.ghColor-Filterscript { color: "#000000"; }
.ghColor-Fluent { color: "#ffcc33"; }
.ghColor-Forth { color: "#341708"; }
.ghColor-Fortran { color: "#4d41b1"; }
.ghColor-Fortran-Free-Form { color: "#4d41b1"; }
.ghColor-FreeBasic { color: "#867db1"; }
.ghColor-FreeMarker { color: "#0050b2"; }
.ghColor-Frege { color: "#00cafe"; }
.ghColor-Futhark { color: "#5f021f"; }
.ghColor-G-code { color: "#D08CF2"; }
.ghColor-GAML { color: "#FFC766"; }
.ghColor-GAMS { color: "#f49a22"; }
.ghColor-GAP { color: "#0000cc"; }
.ghColor-GCC-Machine-Description { color: "#FFCFAB"; }
.ghColor-GDB { color: "#000000"; }
.ghColor-GDScript { color: "#355570"; }
.ghColor-GLSL { color: "#5686a5"; }
.ghColor-GSC { color: "#FF6800"; }
.ghColor-Game-Maker-Language { color: "#71b417"; }
.ghColor-Genero { color: "#63408e"; }
.ghColor-Genie { color: "#fb855d"; }
.ghColor-Genshi { color: "#951531"; }
.ghColor-Gentoo-Ebuild { color: "#9400ff"; }
.ghColor-Gentoo-Eclass { color: "#9400ff"; }
.ghColor-Gherkin { color: "#5B2063"; }
.ghColor-Gleam { color: "#ffaff3"; }
.ghColor-Glyph { color: "#c1ac7f"; }
.ghColor-Gnuplot { color: "#f0a9f0"; }
.ghColor-Go { color: "#00ADD8"; }
.ghColor-Golo { color: "#88562A"; }
.ghColor-Gosu { color: "#82937f"; }
.ghColor-Grace { color: "#615f8b"; }
.ghColor-Grammatical-Framework { color: "#ff0000"; }
.ghColor-Groovy { color: "#4298b8"; }
.ghColor-Groovy-Server-Pages { color: "#4298b8"; }
.ghColor-HCL { color: "#000000"; }
.ghColor-HLSL { color: "#aace60"; }
.ghColor-Hack { color: "#878787"; }
.ghColor-Harbour { color: "#0e60e3"; }
.ghColor-Haskell { color: "#5e5086"; }
.ghColor-Haxe { color: "#df7900"; }
.ghColor-HiveQL { color: "#dce200"; }
.ghColor-HolyC { color: "#ffefaf"; }
.ghColor-Hy { color: "#7790B2"; }
.ghColor-HyPhy { color: "#000000"; }
.ghColor-IDL { color: "#a3522f"; }
.ghColor-IGOR-Pro { color: "#0000cc"; }
.ghColor-Idris { color: "#b30000"; }
.ghColor-ImageJ-Macro { color: "#99AAFF"; }
.ghColor-Inform-7 { color: "#000000"; }
.ghColor-Inno-Setup { color: "#264b99"; }
.ghColor-Io { color: "#a9188d"; }
.ghColor-Ioke { color: "#078193"; }
.ghColor-Isabelle { color: "#FEFE00"; }
.ghColor-Isabelle-ROOT { color: "#FEFE00"; }
.ghColor-J { color: "#9EEDFF"; }
.ghColor-JFlex { color: "#DBCA00"; }
.ghColor-JSONiq { color: "#40d47e"; }
.ghColor-Janet { color: "#0886a5"; }
.ghColor-Jasmin { color: "#d03600"; }
.ghColor-Java { color: "#b07219"; }
.ghColor-Java-Server-Pages { color: "#2A6277"; }
.ghColor-JavaScript { color: "#f1e05a"; }
.ghColor-JavaScriptERB { color: "#f1e05a"; }
.ghColor-JetBrains-MPS { color: "#21D789"; }
.ghColor-Jison { color: "#56b3cb"; }
.ghColor-Jison-Lex { color: "#56b3cb"; }
.ghColor-Jolie { color: "#843179"; }
.ghColor-Jsonnet { color: "#0064bd"; }
.ghColor-Julia { color: "#a270ba"; }
.ghColor-KRL { color: "#28430A"; }
.ghColor-Kaitai-Struct { color: "#773b37"; }
.ghColor-KakouneScript { color: "#6f8042"; }
.ghColor-Kotlin { color: "#A97BFF"; }
.ghColor-LFE { color: "#4C3023"; }
.ghColor-LLVM { color: "#185619"; }
.ghColor-LOLCODE { color: "#cc9900"; }
.ghColor-LSL { color: "#3d9970"; }
.ghColor-LabVIEW { color: "#fede06"; }
.ghColor-Lasso { color: "#999999"; }
.ghColor-Lean { color: "#000000"; }
.ghColor-Lex { color: "#DBCA00"; }
.ghColor-LigoLANG { color: "#0e74ff"; }
.ghColor-LilyPond { color: "#9ccc7c"; }
.ghColor-Limbo { color: "#000000"; }
.ghColor-Literate-Agda { color: "#315665"; }
.ghColor-Literate-CoffeeScript { color: "#244776"; }
.ghColor-Literate-Haskell { color: "#5e5086"; }
.ghColor-LiveScript { color: "#499886"; }
.ghColor-Logos { color: "#000000"; }
.ghColor-Logtalk { color: "#295b9a"; }
.ghColor-LookML { color: "#652B81"; }
.ghColor-LoomScript { color: "#000000"; }
.ghColor-Lua { color: "#000080"; }
.ghColor-M { color: "#000000"; }
.ghColor-M4 { color: "#000000"; }
.ghColor-M4Sugar { color: "#000000"; }
.ghColor-MATLAB { color: "#e16737"; }
.ghColor-MAXScript { color: "#00a6a6"; }
.ghColor-MLIR { color: "#5EC8DB"; }
.ghColor-MQL4 { color: "#62A8D6"; }
.ghColor-MQL5 { color: "#4A76B8"; }
.ghColor-MUF { color: "#000000"; }
.ghColor-Macaulay2 { color: "#d8ffff"; }
.ghColor-Makefile { color: "#427819"; }
.ghColor-Mako { color: "#7e858d"; }
.ghColor-Mathematica { color: "#dd1100"; }
.ghColor-Max { color: "#c4a79c"; }
.ghColor-Mercury { color: "#ff2b2b"; }
.ghColor-Meson { color: "#007800"; }
.ghColor-Metal { color: "#8f14e9"; }
.ghColor-MiniD { color: "#000000"; }
.ghColor-Mint { color: "#02b046"; }
.ghColor-Mirah { color: "#c7a938"; }
.ghColor-Modelica { color: "#de1d31"; }
.ghColor-Modula-2 { color: "#10253f"; }
.ghColor-Modula-3 { color: "#223388"; }
.ghColor-Module-Management-System { color: "#000000"; }
.ghColor-Monkey { color: "#000000"; }
.ghColor-Monkey-C { color: "#8D6747"; }
.ghColor-Moocode { color: "#000000"; }
.ghColor-MoonScript { color: "#ff4585"; }
.ghColor-Motoko { color: "#fbb03b"; }
.ghColor-Motorola-68K-Assembly { color: "#005daa"; }
.ghColor-Move { color: "#4a137a"; }
.ghColor-Myghty { color: "#000000"; }
.ghColor-NASL { color: "#000000"; }
.ghColor-NCL { color: "#28431f"; }
.ghColor-NSIS { color: "#000000"; }
.ghColor-NWScript { color: "#111522"; }
.ghColor-Nasal { color: "#1d2c4e"; }
.ghColor-Nearley { color: "#990000"; }
.ghColor-Nemerle { color: "#3d3c6e"; }
.ghColor-NetLinx { color: "#0aa0ff"; }
.ghColor-NetLinxERB { color: "#747faa"; }
.ghColor-NetLogo { color: "#ff6375"; }
.ghColor-NewLisp { color: "#87AED7"; }
.ghColor-Nextflow { color: "#3ac486"; }
.ghColor-Nim { color: "#ffc200"; }
.ghColor-Nit { color: "#009917"; }
.ghColor-Nix { color: "#7e7eff"; }
.ghColor-Nu { color: "#c9df40"; }
.ghColor-NumPy { color: "#9C8AF9"; }
.ghColor-OCaml { color: "#3be133"; }
.ghColor-ObjectScript { color: "#424893"; }
.ghColor-Objective-C { color: "#438eff"; }
.ghColor-Objective-C { color: "#6866fb"; }
.ghColor-Objective-J { color: "#ff0c5a"; }
.ghColor-Odin { color: "#60AFFE"; }
.ghColor-Omgrofl { color: "#cabbff"; }
.ghColor-Opa { color: "#000000"; }
.ghColor-Opal { color: "#f7ede0"; }
.ghColor-Open-Policy-Agent { color: "#7d9199"; }
.ghColor-OpenCL { color: "#ed2e2d"; }
.ghColor-OpenEdge-ABL { color: "#5ce600"; }
.ghColor-OpenQASM { color: "#AA70FF"; }
.ghColor-OpenRC-runscript { color: "#000000"; }
.ghColor-OpenSCAD { color: "#e5cd45"; }
.ghColor-Ox { color: "#000000"; }
.ghColor-Oxygene { color: "#cdd0e3"; }
.ghColor-Oz { color: "#fab738"; }
.ghColor-P4 { color: "#7055b5"; }
.ghColor-PEGjs { color: "#234d6b"; }
.ghColor-PHP { color: "#4F5D95"; }
.ghColor-PLSQL { color: "#dad8d8"; }
.ghColor-PLpgSQL { color: "#336790"; }
.ghColor-POV-Ray-SDL { color: "#6bac65"; }
.ghColor-Pan { color: "#cc0000"; }
.ghColor-Papyrus { color: "#6600cc"; }
.ghColor-Parrot { color: "#f3ca0a"; }
.ghColor-Parrot-Assembly { color: "#000000"; }
.ghColor-Parrot-Internal-Representation { color: "#000000"; }
.ghColor-Pascal { color: "#E3F171"; }
.ghColor-Pawn { color: "#dbb284"; }
.ghColor-Pep8 { color: "#C76F5B"; }
.ghColor-Perl { color: "#0298c3"; }
.ghColor-PicoLisp { color: "#6067af"; }
.ghColor-PigLatin { color: "#fcd7de"; }
.ghColor-Pike { color: "#005390"; }
.ghColor-PogoScript { color: "#d80074"; }
.ghColor-Pony { color: "#000000"; }
.ghColor-Portugol { color: "#f8bd00"; }
.ghColor-PowerBuilder { color: "#8f0f8d"; }
.ghColor-PowerShell { color: "#012456"; }
.ghColor-Processing { color: "#0096D8"; }
.ghColor-Procfile { color: "#3B2F63"; }
.ghColor-Prolog { color: "#74283c"; }
.ghColor-Promela { color: "#de0000"; }
.ghColor-Propeller-Spin { color: "#7fa2a7"; }
.ghColor-Puppet { color: "#302B6D"; }
.ghColor-PureBasic { color: "#5a6986"; }
.ghColor-PureScript { color: "#1D222D"; }
.ghColor-Python { color: "#3572A5"; }
.ghColor-Python-console { color: "#3572A5"; }
.ghColor-Q { color: "#fed659"; }
.ghColor-QML { color: "#44a51c"; }
.ghColor-QMake { color: "#000000"; }
.ghColor-Qt-Script { color: "#00b841"; }
.ghColor-Quake { color: "#882233"; }
.ghColor-R { color: "#198CE7"; }
.ghColor-REALbasic { color: "#000000"; }
.ghColor-REXX { color: "#d90e09"; }
.ghColor-RPC { color: "#000000"; }
.ghColor-RPGLE { color: "#2BDE21"; }
.ghColor-Racket { color: "#3c5caa"; }
.ghColor-Ragel { color: "#9d5200"; }
.ghColor-Raku { color: "#0000fb"; }
.ghColor-Rascal { color: "#fffaa0"; }
.ghColor-ReScript { color: "#ed5051"; }
.ghColor-Reason { color: "#ff5847"; }
.ghColor-ReasonLIGO { color: "#ff5847"; }
.ghColor-Rebol { color: "#358a5b"; }
.ghColor-Red { color: "#f50000"; }
.ghColor-Redcode { color: "#000000"; }
.ghColor-RenPy { color: "#ff7f7f"; }
.ghColor-RenderScript { color: "#000000"; }
.ghColor-Ring { color: "#2D54CB"; }
.ghColor-RobotFramework { color: "#00c0b5"; }
.ghColor-Rouge { color: "#cc0088"; }
.ghColor-RouterOS-Script { color: "#DE3941"; }
.ghColor-Ruby { color: "#701516"; }
.ghColor-Rust { color: "#dea584"; }
.ghColor-SAS { color: "#B34936"; }
.ghColor-SMT { color: "#000000"; }
.ghColor-SQF { color: "#3F3F3F"; }
.ghColor-SQLPL { color: "#e38c00"; }
.ghColor-SWIG { color: "#000000"; }
.ghColor-Sage { color: "#000000"; }
.ghColor-SaltStack { color: "#646464"; }
.ghColor-Scala { color: "#c22d40"; }
.ghColor-Scheme { color: "#1e4aec"; }
.ghColor-Scilab { color: "#ca0f21"; }
.ghColor-Self { color: "#0579aa"; }
.ghColor-ShaderLab { color: "#222c37"; }
.ghColor-Shell { color: "#89e051"; }
.ghColor-ShellSession { color: "#000000"; }
.ghColor-Shen { color: "#120F14"; }
.ghColor-Sieve { color: "#000000"; }
.ghColor-Singularity { color: "#64E6AD"; }
.ghColor-Slash { color: "#007eff"; }
.ghColor-Slice { color: "#003fa2"; }
.ghColor-SmPL { color: "#c94949"; }
.ghColor-Smali { color: "#000000"; }
.ghColor-Smalltalk { color: "#596706"; }
.ghColor-Smarty { color: "#f0c040"; }
.ghColor-Solidity { color: "#AA6746"; }
.ghColor-SourcePawn { color: "#f69e1d"; }
.ghColor-Squirrel { color: "#800000"; }
.ghColor-Stan { color: "#b2011d"; }
.ghColor-Standard-ML { color: "#dc566d"; }
.ghColor-Starlark { color: "#76d275"; }
.ghColor-Stata { color: "#1a5f91"; }
.ghColor-SuperCollider { color: "#46390b"; }
.ghColor-Swift { color: "#F05138"; }
.ghColor-SystemVerilog { color: "#DAE1C2"; }
.ghColor-TI-Program { color: "#A0AA87"; }
.ghColor-TLA { color: "#4b0079"; }
.ghColor-TSQL { color: "#e38c00"; }
.ghColor-TSX { color: "#3178c6"; }
.ghColor-TXL { color: "#0178b8"; }
.ghColor-Talon { color: "#333333"; }
.ghColor-Tcl { color: "#e4cc98"; }
.ghColor-Tcsh { color: "#000000"; }
.ghColor-Terra { color: "#00004c"; }
.ghColor-Thrift { color: "#D12127"; }
.ghColor-Turing { color: "#cf142b"; }
.ghColor-TypeScript { color: "#3178c6"; }
.ghColor-Unified-Parallel-C { color: "#4e3617"; }
.ghColor-Unix-Assembly { color: "#000000"; }
.ghColor-Uno { color: "#9933cc"; }
.ghColor-UnrealScript { color: "#a54c4d"; }
.ghColor-UrWeb { color: "#ccccee"; }
.ghColor-V { color: "#4f87c4"; }
.ghColor-VBA { color: "#867db1"; }
.ghColor-VBScript { color: "#15dcdc"; }
.ghColor-VCL { color: "#148AA8"; }
.ghColor-VHDL { color: "#adb2cb"; }
.ghColor-Vala { color: "#a56de2"; }
.ghColor-Verilog { color: "#b2b7f8"; }
.ghColor-Vim-Script { color: "#199f4b"; }
.ghColor-Visual-Basic-NET { color: "#945db7"; }
.ghColor-Volt { color: "#1F1F1F"; }
.ghColor-Vyper { color: "#2980b9"; }
.ghColor-WebAssembly { color: "#04133b"; }
.ghColor-WebIDL { color: "#000000"; }
.ghColor-Whiley { color: "#d5c397"; }
.ghColor-Witcher-Script { color: "#ff0000"; }
.ghColor-Wollok { color: "#a23738"; }
.ghColor-Wren { color: "#383838"; }
.ghColor-X10 { color: "#4B6BEF"; }
.ghColor-XC { color: "#99DA07"; }
.ghColor-XProc { color: "#000000"; }
.ghColor-XQuery { color: "#5232e7"; }
.ghColor-XS { color: "#000000"; }
.ghColor-XSLT { color: "#EB8CEB"; }
.ghColor-Xojo { color: "#81bd41"; }
.ghColor-Xonsh { color: "#285EEF"; }
.ghColor-Xtend { color: "#24255d"; }
.ghColor-YARA { color: "#220000"; }
.ghColor-Yacc { color: "#4B6C4B"; }
.ghColor-Yul { color: "#794932"; }
.ghColor-ZAP { color: "#0d665e"; }
.ghColor-ZIL { color: "#dc75e5"; }
.ghColor-Zeek { color: "#000000"; }
.ghColor-ZenScript { color: "#00BCD1"; }
.ghColor-Zephir { color: "#118f9e"; }
.ghColor-Zig { color: "#ec915c"; }
.ghColor-Zimpl { color: "#d67711"; }
.ghColor-eC { color: "#913960"; }
.ghColor-fish { color: "#4aae47"; }
.ghColor-hoon { color: "#00b171"; }
.ghColor-jq { color: "#c7254e"; }
.ghColor-mIRC-Script { color: "#3d57c3"; }
.ghColor-mcfunction { color: "#E22837"; }
.ghColor-mupad { color: "#244963"; }
.ghColor-nesC { color: "#94B0C7"; }
.ghColor-ooc { color: "#b0b77e"; }
.ghColor-q { color: "#0040cd"; }
.ghColor-sed { color: "#64b970"; }
.ghColor-wdl { color: "#42f1f4"; }
.ghColor-wisp { color: "#7582D1"; }
.ghColor-xBase { color: "#403a40"; }
