:root {
--ghVar-1C-Enterprise: #814CCC;
--ghVar-4D: #004289;
--ghVar-ABAP: #E8274B;
--ghVar-ABAP-CDS: #555e25;
--ghVar-AGS-Script: #B9D9FF;
--ghVar-AIDL: #34EB6B;
--ghVar-AL: #3AA2B5;
--ghVar-AMPL: #E6EFBB;
--ghVar-ANTLR: #9DC3FF;
--ghVar-APL: #5A8164;
--ghVar-ASL: #000000;
--ghVar-ASPNET: #9400ff;
--ghVar-ATS: #1ac620;
--ghVar-ActionScript: #882B0F;
--ghVar-Ada: #02f88c;
--ghVar-Agda: #315665;
--ghVar-Alloy: #64C800;
--ghVar-Alpine-Abuild: #0D597F;
--ghVar-AngelScript: #C7D7DC;
--ghVar-Apex: #1797c0;
--ghVar-Apollo-Guidance-Computer: #0B3D91;
--ghVar-AppleScript: #101F1F;
--ghVar-Arc: #aa2afe;
--ghVar-AspectJ: #a957b0;
--ghVar-Assembly: #6E4C13;
--ghVar-Asymptote: #ff0000;
--ghVar-Augeas: #9CC134;
--ghVar-AutoHotkey: #6594b9;
--ghVar-AutoIt: #1C3552;
--ghVar-Awk: #c30e9b;
--ghVar-BASIC: #ff0000;
--ghVar-Ballerina: #FF5000;
--ghVar-Batchfile: #C1F12E;
--ghVar-Beef: #a52f4e;
--ghVar-Befunge: #000000;
--ghVar-Berry: #15A13C;
--ghVar-Bicep: #519aba;
--ghVar-Bison: #6A463F;
--ghVar-BitBake: #00bce4;
--ghVar-BlitzBasic: #00FFAE;
--ghVar-BlitzMax: #cd6400;
--ghVar-Bluespec: #12223c;
--ghVar-Boo: #d4bec1;
--ghVar-Boogie: #c80fa0;
--ghVar-Brainfuck: #2F2530;
--ghVar-BrighterScript: #66AABB;
--ghVar-Brightscript: #662D91;
--ghVar-C: #555555;
--ghVar-C: #178600;
--ghVar-C: #f34b7d;
--ghVar-C2hs-Haskell: #000000;
--ghVar-CAP-CDS: #0092d1;
--ghVar-CLIPS: #00A300;
--ghVar-CMake: #DA3434;
--ghVar-COBOL: #000000;
--ghVar-CUE: #5886E1;
--ghVar-CWeb: #00007a;
--ghVar-Cadence: #00ef8b;
--ghVar-Cairo: #ff4a48;
--ghVar-CameLIGO: #3be133;
--ghVar-Capn-Proto: #c42727;
--ghVar-CartoCSS: #000000;
--ghVar-Ceylon: #dfa535;
--ghVar-Chapel: #8dc63f;
--ghVar-Charity: #000000;
--ghVar-ChucK: #3f8000;
--ghVar-Cirru: #ccccff;
--ghVar-Clarion: #db901e;
--ghVar-Clarity: #5546ff;
--ghVar-Classic-ASP: #6a40fd;
--ghVar-Clean: #3F85AF;
--ghVar-Click: #E4E6F3;
--ghVar-Clojure: #db5855;
--ghVar-CodeQL: #140f46;
--ghVar-CoffeeScript: #244776;
--ghVar-ColdFusion: #ed2cd6;
--ghVar-ColdFusion-CFC: #ed2cd6;
--ghVar-Common-Lisp: #3fb68b;
--ghVar-Common-Workflow-Language: #B5314C;
--ghVar-Component-Pascal: #B0CE4E;
--ghVar-Cool: #000000;
--ghVar-Coq: #d0b68c;
--ghVar-Crystal: #000100;
--ghVar-Csound: #1a1a1a;
--ghVar-Csound-Document: #1a1a1a;
--ghVar-Csound-Score: #1a1a1a;
--ghVar-Cuda: #3A4E3A;
--ghVar-Curry: #531242;
--ghVar-Cycript: #000000;
--ghVar-Cython: #fedf5b;
--ghVar-D: #ba595e;
--ghVar-DIGITAL-Command-Language: #000000;
--ghVar-DM: #447265;
--ghVar-DTrace: #000000;
--ghVar-Dafny: #FFEC25;
--ghVar-Dart: #00B4AB;
--ghVar-DataWeave: #003a52;
--ghVar-DenizenScript: #FBEE96;
--ghVar-Dhall: #dfafff;
--ghVar-Dockerfile: #384d54;
--ghVar-Dogescript: #cca760;
--ghVar-Dylan: #6c616e;
--ghVar-E: #ccce35;
--ghVar-ECL: #8a1267;
--ghVar-ECLiPSe: #001d9d;
--ghVar-EQ: #a78649;
--ghVar-Earthly: #2af0ff;
--ghVar-Eiffel: #4d6977;
--ghVar-Elixir: #6e4a7e;
--ghVar-Elm: #60B5CC;
--ghVar-Emacs-Lisp: #c065db;
--ghVar-EmberScript: #FFF4F3;
--ghVar-Erlang: #B83998;
--ghVar-Euphoria: #FF790B;
--ghVar-F: #b845fc;
--ghVar-F: #572e30;
--ghVar-FLUX: #88ccff;
--ghVar-Factor: #636746;
--ghVar-Fancy: #7b9db4;
--ghVar-Fantom: #14253c;
--ghVar-Faust: #c37240;
--ghVar-Fennel: #fff3d7;
--ghVar-Filebench-WML: #F6B900;
--ghVar-Filterscript: #000000;
--ghVar-Fluent: #ffcc33;
--ghVar-Forth: #341708;
--ghVar-Fortran: #4d41b1;
--ghVar-Fortran-Free-Form: #4d41b1;
--ghVar-FreeBasic: #867db1;
--ghVar-FreeMarker: #0050b2;
--ghVar-Frege: #00cafe;
--ghVar-Futhark: #5f021f;
--ghVar-G-code: #D08CF2;
--ghVar-GAML: #FFC766;
--ghVar-GAMS: #f49a22;
--ghVar-GAP: #0000cc;
--ghVar-GCC-Machine-Description: #FFCFAB;
--ghVar-GDB: #000000;
--ghVar-GDScript: #355570;
--ghVar-GLSL: #5686a5;
--ghVar-GSC: #FF6800;
--ghVar-Game-Maker-Language: #71b417;
--ghVar-Genero: #63408e;
--ghVar-Genie: #fb855d;
--ghVar-Genshi: #951531;
--ghVar-Gentoo-Ebuild: #9400ff;
--ghVar-Gentoo-Eclass: #9400ff;
--ghVar-Gherkin: #5B2063;
--ghVar-Gleam: #ffaff3;
--ghVar-Glyph: #c1ac7f;
--ghVar-Gnuplot: #f0a9f0;
--ghVar-Go: #00ADD8;
--ghVar-Golo: #88562A;
--ghVar-Gosu: #82937f;
--ghVar-Grace: #615f8b;
--ghVar-Grammatical-Framework: #ff0000;
--ghVar-Groovy: #4298b8;
--ghVar-Groovy-Server-Pages: #4298b8;
--ghVar-HCL: #000000;
--ghVar-HLSL: #aace60;
--ghVar-Hack: #878787;
--ghVar-Harbour: #0e60e3;
--ghVar-Haskell: #5e5086;
--ghVar-Haxe: #df7900;
--ghVar-HiveQL: #dce200;
--ghVar-HolyC: #ffefaf;
--ghVar-Hy: #7790B2;
--ghVar-HyPhy: #000000;
--ghVar-IDL: #a3522f;
--ghVar-IGOR-Pro: #0000cc;
--ghVar-Idris: #b30000;
--ghVar-ImageJ-Macro: #99AAFF;
--ghVar-Inform-7: #000000;
--ghVar-Inno-Setup: #264b99;
--ghVar-Io: #a9188d;
--ghVar-Ioke: #078193;
--ghVar-Isabelle: #FEFE00;
--ghVar-Isabelle-ROOT: #FEFE00;
--ghVar-J: #9EEDFF;
--ghVar-JFlex: #DBCA00;
--ghVar-JSONiq: #40d47e;
--ghVar-Janet: #0886a5;
--ghVar-Jasmin: #d03600;
--ghVar-Java: #b07219;
--ghVar-Java-Server-Pages: #2A6277;
--ghVar-JavaScript: #f1e05a;
--ghVar-JavaScriptERB: #f1e05a;
--ghVar-JetBrains-MPS: #21D789;
--ghVar-Jison: #56b3cb;
--ghVar-Jison-Lex: #56b3cb;
--ghVar-Jolie: #843179;
--ghVar-Jsonnet: #0064bd;
--ghVar-Julia: #a270ba;
--ghVar-KRL: #28430A;
--ghVar-Kaitai-Struct: #773b37;
--ghVar-KakouneScript: #6f8042;
--ghVar-Kotlin: #A97BFF;
--ghVar-LFE: #4C3023;
--ghVar-LLVM: #185619;
--ghVar-LOLCODE: #cc9900;
--ghVar-LSL: #3d9970;
--ghVar-LabVIEW: #fede06;
--ghVar-Lasso: #999999;
--ghVar-Lean: #000000;
--ghVar-Lex: #DBCA00;
--ghVar-LigoLANG: #0e74ff;
--ghVar-LilyPond: #9ccc7c;
--ghVar-Limbo: #000000;
--ghVar-Literate-Agda: #315665;
--ghVar-Literate-CoffeeScript: #244776;
--ghVar-Literate-Haskell: #5e5086;
--ghVar-LiveScript: #499886;
--ghVar-Logos: #000000;
--ghVar-Logtalk: #295b9a;
--ghVar-LookML: #652B81;
--ghVar-LoomScript: #000000;
--ghVar-Lua: #000080;
--ghVar-M: #000000;
--ghVar-M4: #000000;
--ghVar-M4Sugar: #000000;
--ghVar-MATLAB: #e16737;
--ghVar-MAXScript: #00a6a6;
--ghVar-MLIR: #5EC8DB;
--ghVar-MQL4: #62A8D6;
--ghVar-MQL5: #4A76B8;
--ghVar-MUF: #000000;
--ghVar-Macaulay2: #d8ffff;
--ghVar-Makefile: #427819;
--ghVar-Mako: #7e858d;
--ghVar-Mathematica: #dd1100;
--ghVar-Max: #c4a79c;
--ghVar-Mercury: #ff2b2b;
--ghVar-Meson: #007800;
--ghVar-Metal: #8f14e9;
--ghVar-MiniD: #000000;
--ghVar-Mint: #02b046;
--ghVar-Mirah: #c7a938;
--ghVar-Modelica: #de1d31;
--ghVar-Modula-2: #10253f;
--ghVar-Modula-3: #223388;
--ghVar-Module-Management-System: #000000;
--ghVar-Monkey: #000000;
--ghVar-Monkey-C: #8D6747;
--ghVar-Moocode: #000000;
--ghVar-MoonScript: #ff4585;
--ghVar-Motoko: #fbb03b;
--ghVar-Motorola-68K-Assembly: #005daa;
--ghVar-Move: #4a137a;
--ghVar-Myghty: #000000;
--ghVar-NASL: #000000;
--ghVar-NCL: #28431f;
--ghVar-NSIS: #000000;
--ghVar-NWScript: #111522;
--ghVar-Nasal: #1d2c4e;
--ghVar-Nearley: #990000;
--ghVar-Nemerle: #3d3c6e;
--ghVar-NetLinx: #0aa0ff;
--ghVar-NetLinxERB: #747faa;
--ghVar-NetLogo: #ff6375;
--ghVar-NewLisp: #87AED7;
--ghVar-Nextflow: #3ac486;
--ghVar-Nim: #ffc200;
--ghVar-Nit: #009917;
--ghVar-Nix: #7e7eff;
--ghVar-Nu: #c9df40;
--ghVar-NumPy: #9C8AF9;
--ghVar-OCaml: #3be133;
--ghVar-ObjectScript: #424893;
--ghVar-Objective-C: #438eff;
--ghVar-Objective-C: #6866fb;
--ghVar-Objective-J: #ff0c5a;
--ghVar-Odin: #60AFFE;
--ghVar-Omgrofl: #cabbff;
--ghVar-Opa: #000000;
--ghVar-Opal: #f7ede0;
--ghVar-Open-Policy-Agent: #7d9199;
--ghVar-OpenCL: #ed2e2d;
--ghVar-OpenEdge-ABL: #5ce600;
--ghVar-OpenQASM: #AA70FF;
--ghVar-OpenRC-runscript: #000000;
--ghVar-OpenSCAD: #e5cd45;
--ghVar-Ox: #000000;
--ghVar-Oxygene: #cdd0e3;
--ghVar-Oz: #fab738;
--ghVar-P4: #7055b5;
--ghVar-PEGjs: #234d6b;
--ghVar-PHP: #4F5D95;
--ghVar-PLSQL: #dad8d8;
--ghVar-PLpgSQL: #336790;
--ghVar-POV-Ray-SDL: #6bac65;
--ghVar-Pan: #cc0000;
--ghVar-Papyrus: #6600cc;
--ghVar-Parrot: #f3ca0a;
--ghVar-Parrot-Assembly: #000000;
--ghVar-Parrot-Internal-Representation: #000000;
--ghVar-Pascal: #E3F171;
--ghVar-Pawn: #dbb284;
--ghVar-Pep8: #C76F5B;
--ghVar-Perl: #0298c3;
--ghVar-PicoLisp: #6067af;
--ghVar-PigLatin: #fcd7de;
--ghVar-Pike: #005390;
--ghVar-PogoScript: #d80074;
--ghVar-Pony: #000000;
--ghVar-Portugol: #f8bd00;
--ghVar-PowerBuilder: #8f0f8d;
--ghVar-PowerShell: #012456;
--ghVar-Processing: #0096D8;
--ghVar-Procfile: #3B2F63;
--ghVar-Prolog: #74283c;
--ghVar-Promela: #de0000;
--ghVar-Propeller-Spin: #7fa2a7;
--ghVar-Puppet: #302B6D;
--ghVar-PureBasic: #5a6986;
--ghVar-PureScript: #1D222D;
--ghVar-Python: #3572A5;
--ghVar-Python-console: #3572A5;
--ghVar-Q: #fed659;
--ghVar-QML: #44a51c;
--ghVar-QMake: #000000;
--ghVar-Qt-Script: #00b841;
--ghVar-Quake: #882233;
--ghVar-R: #198CE7;
--ghVar-REALbasic: #000000;
--ghVar-REXX: #d90e09;
--ghVar-RPC: #000000;
--ghVar-RPGLE: #2BDE21;
--ghVar-Racket: #3c5caa;
--ghVar-Ragel: #9d5200;
--ghVar-Raku: #0000fb;
--ghVar-Rascal: #fffaa0;
--ghVar-ReScript: #ed5051;
--ghVar-Reason: #ff5847;
--ghVar-ReasonLIGO: #ff5847;
--ghVar-Rebol: #358a5b;
--ghVar-Red: #f50000;
--ghVar-Redcode: #000000;
--ghVar-RenPy: #ff7f7f;
--ghVar-RenderScript: #000000;
--ghVar-Ring: #2D54CB;
--ghVar-RobotFramework: #00c0b5;
--ghVar-Rouge: #cc0088;
--ghVar-RouterOS-Script: #DE3941;
--ghVar-Ruby: #701516;
--ghVar-Rust: #dea584;
--ghVar-SAS: #B34936;
--ghVar-SMT: #000000;
--ghVar-SQF: #3F3F3F;
--ghVar-SQLPL: #e38c00;
--ghVar-SWIG: #000000;
--ghVar-Sage: #000000;
--ghVar-SaltStack: #646464;
--ghVar-Scala: #c22d40;
--ghVar-Scheme: #1e4aec;
--ghVar-Scilab: #ca0f21;
--ghVar-Self: #0579aa;
--ghVar-ShaderLab: #222c37;
--ghVar-Shell: #89e051;
--ghVar-ShellSession: #000000;
--ghVar-Shen: #120F14;
--ghVar-Sieve: #000000;
--ghVar-Singularity: #64E6AD;
--ghVar-Slash: #007eff;
--ghVar-Slice: #003fa2;
--ghVar-SmPL: #c94949;
--ghVar-Smali: #000000;
--ghVar-Smalltalk: #596706;
--ghVar-Smarty: #f0c040;
--ghVar-Solidity: #AA6746;
--ghVar-SourcePawn: #f69e1d;
--ghVar-Squirrel: #800000;
--ghVar-Stan: #b2011d;
--ghVar-Standard-ML: #dc566d;
--ghVar-Starlark: #76d275;
--ghVar-Stata: #1a5f91;
--ghVar-SuperCollider: #46390b;
--ghVar-Swift: #F05138;
--ghVar-SystemVerilog: #DAE1C2;
--ghVar-TI-Program: #A0AA87;
--ghVar-TLA: #4b0079;
--ghVar-TSQL: #e38c00;
--ghVar-TSX: #3178c6;
--ghVar-TXL: #0178b8;
--ghVar-Talon: #333333;
--ghVar-Tcl: #e4cc98;
--ghVar-Tcsh: #000000;
--ghVar-Terra: #00004c;
--ghVar-Thrift: #D12127;
--ghVar-Turing: #cf142b;
--ghVar-TypeScript: #3178c6;
--ghVar-Unified-Parallel-C: #4e3617;
--ghVar-Unix-Assembly: #000000;
--ghVar-Uno: #9933cc;
--ghVar-UnrealScript: #a54c4d;
--ghVar-UrWeb: #ccccee;
--ghVar-V: #4f87c4;
--ghVar-VBA: #867db1;
--ghVar-VBScript: #15dcdc;
--ghVar-VCL: #148AA8;
--ghVar-VHDL: #adb2cb;
--ghVar-Vala: #a56de2;
--ghVar-Verilog: #b2b7f8;
--ghVar-Vim-Script: #199f4b;
--ghVar-Visual-Basic-NET: #945db7;
--ghVar-Volt: #1F1F1F;
--ghVar-Vyper: #2980b9;
--ghVar-WebAssembly: #04133b;
--ghVar-WebIDL: #000000;
--ghVar-Whiley: #d5c397;
--ghVar-Witcher-Script: #ff0000;
--ghVar-Wollok: #a23738;
--ghVar-Wren: #383838;
--ghVar-X10: #4B6BEF;
--ghVar-XC: #99DA07;
--ghVar-XProc: #000000;
--ghVar-XQuery: #5232e7;
--ghVar-XS: #000000;
--ghVar-XSLT: #EB8CEB;
--ghVar-Xojo: #81bd41;
--ghVar-Xonsh: #285EEF;
--ghVar-Xtend: #24255d;
--ghVar-YARA: #220000;
--ghVar-Yacc: #4B6C4B;
--ghVar-Yul: #794932;
--ghVar-ZAP: #0d665e;
--ghVar-ZIL: #dc75e5;
--ghVar-Zeek: #000000;
--ghVar-ZenScript: #00BCD1;
--ghVar-Zephir: #118f9e;
--ghVar-Zig: #ec915c;
--ghVar-Zimpl: #d67711;
--ghVar-eC: #913960;
--ghVar-fish: #4aae47;
--ghVar-hoon: #00b171;
--ghVar-jq: #c7254e;
--ghVar-mIRC-Script: #3d57c3;
--ghVar-mcfunction: #E22837;
--ghVar-mupad: #244963;
--ghVar-nesC: #94B0C7;
--ghVar-ooc: #b0b77e;
--ghVar-q: #0040cd;
--ghVar-sed: #64b970;
--ghVar-wdl: #42f1f4;
--ghVar-wisp: #7582D1;
--ghVar-xBase: #403a40;
}